/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

 ::selection,
 ::-moz-selection {
    background: rgb(135, 223, 235);
    color: rgb(0, 0, 0);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*,
*:before,
*:after {
    outline: none;
    box-sizing: border-box;
}

#test {
    width: 100px;
    height: 100px;
    border: 2px solid red;
}

#test2 {
    width: 100px;
    height: 100px;
    border: 20px solid black;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    /**************MAKE IT 100&******************/
    min-height: 100vh;
}

.logoAndImg {
    color: white;
    /*min-height: 100vw;   REMOVE COMENT  */
    height: 500px;
    background-image: url(images/img.jpg);
    background-size: cover;
    background-position: center top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#logo {
    font-family: 'Kanit', sans-serif;
    background-color: rgba(24, 112, 146, 0.541);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    font-weight: 600;
    padding: 1em 0;
}

#logo img {
    height: 80px;
}

h1 {
    text-align: center;
}

#formDiv {
    background-color: rgb(250, 250, 250);
    padding: 3em 1em;
}

h2 {
    font-size: 1.3em;
    font-weight: 400;
    padding: 1em 0.7em 1.5em;
    max-width: 400px;
    margin: 0 auto;
    color: rgb(17, 139, 187);
}

#bla {
    max-width: 400px;
    margin: 1em auto;
    font-size: 0.95em;
    line-height: 1.3em;
}

form {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    max-width: 330px;
    margin: 0 auto;
}

.inputField {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 1em auto;
    position: relative;
}

input {
    height: 3em;
    border: 0;
    border: 1px solid rgb(39, 154, 199);
    cursor: pointer;
    z-index: 10;
    background-color: transparent;
    padding: 0 1em;
    font-size: 1em;
    color: rgb(13, 96, 134);
    transition: all 0.3s;
}

.d-none {
    display: none;
}

form label {
    font-size: 1em;
    position: absolute;
    top: 0.99em;
    left: 0.7em;
    color: rgb(5, 84, 116);
    cursor: pointer;
    z-index: 9;
    display: inline;
    pad: 0 1em;
    background-color: rgb(250, 250, 250);
    transition: all 0.3s;
}

.inputField:hover input,
input:focus {
    box-shadow: -1px 1px 5px 1px rgba(14, 116, 114, 0.521);
}

.inputField:hover label,
input:focus~label {
    font-weight: 400;
}

#submit {
    height: 3em;
    font-weight: 600;
    background: rgb(19, 140, 173);
    background: linear-gradient(75deg, rgb(11, 100, 151) 20%, rgb(7, 142, 151) 80%);
    color: rgb(243, 243, 243);
    text-shadow: -1px 1px 0 rgb(78, 78, 78);
    border: 0;
    margin-top: 0.6em;
    font-size: 1.1em;
}

#submit:hover {
    background: rgb(8, 108, 136);
    background: linear-gradient(90deg, rgb(128, 190, 226) 20%, rgb(118, 216, 223) 80%);
    color: rgb(13, 83, 124);
    text-shadow: -1px 1px 0 rgb(235, 235, 235);
}

.inputField input:focus~label,
.inputField input:not(:placeholder-shown)~label {
    top: -0.5em;
    font-size: 0.9em;
    display: inline;
    z-index: 10;
}

#resetDiv {
    display: flex;
    justify-content: end;
    padding-right: 0.5em;
}

#reset {
    border: inherit;
    background: inherit;
    color: rgb(7, 126, 180);
    cursor: pointer;
}

#reset:hover {
    text-decoration: underline;
}